export(attrsToDataFrame)
export(docsToNodes)
export(listsToMatrix)
export(nodesToData)
export(nodesToList)
export(urlsToDataFrame)
export(urlsToDocs)
importFrom(plyr,rbind.fill.matrix)
importFrom(plyr,try_default)
