export(XML2R)
export(collapse)
export(docsToNodes)
export(listsToMatrix)
export(nodesToList)
export(urlsToDocs)
importFrom(XML,getNodeSet)
importFrom(XML,xmlParse)
importFrom(XML,xmlToList)
importFrom(plyr,rbind.fill.matrix)
importFrom(plyr,try_default)
